<div class="page group">
  <section class="page-left">

		<div class="profile-picture">
			<% if @user.filepicker_url == nil %>
				<p>user has no profile picture<p>
			<% else %>
				<%= filepicker_image_tag @user.filepicker_url%>
			<% end %>
		</div>
		
		<div class="profile-info">
    	<h2 id="username"><%= @user.username %></h2>
			<p id="location"><%= @user.location %></p>
		
		
		<section class="follow">
		<% if signed_in? && current_user != @user %>
			<% if @user.followers.include?(current_user) %>
			<% following = @user.find_following(current_user) %>
			<a href="<%= following_url(following) %>" data-method="delete" rel="nofollow">Unfollow</a>
	
			<% else %>
	
			<form action="<%= followings_url %>" method="post">
			  <%= auth_token_input %>
			  <input type="hidden" name="following[follower_id]" value="<%= current_user.id %>">

			  <input type="hidden" name="following[followed_id]" value="<%= @user.id %>">

			  <input type="hidden" name="following[followed_type]" value="<%= @user.class.name %>">
	
			  <input type="submit" value="Follow">
			</form>
	
			<% end %>	
		<% end %>
		</section>
		
		</div>
		
		<div class="collections-followings group">
			<div class="titles">
				<section class="cf-left">
					Collection
					<br>
					<center><%= @user.collection_items.count %></center>
				</section>
				<section class="cf-right">
					Wishlist
					<br>
					<center>0</center>
				</section>
			</div>
		</div>
		
		<div class="collections-followings group">
			<section class="cf-left">
				Following
				<br>
				<center><%= @user.following_bands.count %> bands</center>
				<center><%= @user.following_users.count %> users</center>
			</section>
			<section class="cf-right">
				Followers
				<br>
				<center><%= @user.followers.count %></center>
			</section>
		</div>
		
		
		<h4>About</h4>
		<p><%= @user.bio %></p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		

  </section>

	<section class="page-right">
	
	<h2>Collection</h2>
	<ul>
	<% @user.collection_items.each do |item| %>
		<li>
		<%= @user.collection_item_to_album(item).name %>
		
		<p><%= link_to "Remove", collection_url(item), method: :delete %><p>
		</li>
	<% end %>
	</ul>
	
  </section>
</div>









