<div class="page group">
  <section class="page-left">

    <h2><%= @user.username %></h2>
		
		<% if signed_in? && current_user != @user %>
			<% if @user.followers.include?(current_user) %>
			<% following = @user.find_following(current_user) %>
			<%= button_to "Unfollow", following_url(following), method: :delete %>
	
			<% else %>
	
			<form action="<%= followings_url %>" method="post">
			  <%= auth_token_input %>
			  <input type="hidden" name="following[follower_id]" value="<%= current_user.id %>">

			  <input type="hidden" name="following[followed_id]" value="<%= @user.id %>">

			  <input type="hidden" name="following[followed_type]" value="<%= @user.class.name %>">
	
			  <input type="submit" value="Follow">
			</form>
	
			<% end %>	
		<% end %>
		
		<h4>Location</h4>
		<p><%= @user.location %></p>
		
		<h4>About</h4>
		<p><%= @user.bio %></p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		
		<h5>followers (<%= @user.followers.count %>)</h5>
		<ul>
		<% @user.followers.each do |follower| %>
		<li><a href="<%= user_url(follower) %>"><%= follower.username %></a></li>
		<% end %>
		</ul>
		
		<h5>Following</h5>
		<ul>
			<h6>Bands</h4>
			<ul>
			<% @user.following_bands.each do |band| %>
			<li><a href="<%= band_url(band) %>"><%= band.name %></a></li>
			<% end %>
			</ul>
		
			<h6>Users</h6>
			<ul>
			<% @user.following_users.each do |user| %>
			<li><a href="<%= user_url(user) %>"><%= user.username %></a></li>
			<% end %>
			</ul>
	</ul>

  </section>

	<section class="page-right">
	
	<h2>Collection</h2>
	<ul>
	<% @user.collection_items.each do |item| %>
		<li>
		<%= @user.collection_item_to_album(item).name %>
		<%= button_to "Remove", collection_url(item), method: :delete %>
		</li>
	<% end %>
	</ul>
	
  </section>
</div>









