<h2>Bands</h2>
<ul>
<% current_user.bands.each do |band| %>
<li><a href="<%= band_url(band.id) %>"><%= band.name %></a></li>
<% end %>
</ul>

<a href="<%= new_band_url %>">Add Band</a>

<h2>Albums</h2>
<ul>
<% current_user.albums.each do |album| %>
<li><a href="<%= album_url(album.id) %>"><%= album.name %></a></li>
<% end %>
</ul>

<a href="<%= new_album_url %>">Add Album</a>
<a href="<%= new_song_url %>">Add Song</a>

<h2>Followers</h2>
<ul>
<% @user.followers.each do |follower| %>
<li><%= follower.username %></li>
<% end %>
</ul>


<% if signed_in? && current_user != @user %>
	<% if @user.followers.include?(current_user) %>
	<% following = @user.find_following(current_user) %>
	<%= button_to "Unfollow", following_url(following), method: :delete %>
	
	<% else %>
	
	<form action="<%= followings_url %>" method="post">
	  <%= auth_token_input %>
	  <input type="hidden" name="following[follower_id]" value="<%= current_user.id %>">

	  <input type="hidden" name="following[followed_id]" value="<%= @user.id %>">

	  <input type="hidden" name="following[followed_type]" value="<%= @user.class.name %>">
	
	  <input type="submit" value="Follow">
	</form>
	
	
	
	<% end %>	
<% end %>

<h2>Following</h2>
<h4>Bands</h4>
<ul>
<% @user.following_bands.each do |band| %>
<li><%= band.name %></li>
<% end %>
</ul>

<h4>Users</h4>
<ul>
<% @user.following_users.each do |user| %>
<li><%= user.username %></li>
<% end %>
</ul>

