<h2>Add Song</h2>

<%= render "layouts/errors" %>

<form action="<%= songs_url %>" method="post">
  <%= auth_token_input %>
  <label>Title
  <input type="text" name="song[title]" value="<%= @song.title %>">
  </label>

  <label>Release Date
  <input type="date" name="song[release_date]" value="<%= @song.release_date %>">
  </label>

  <label>About
  <input type="text" name="song[about]" value="<%= @song.about %>">
  </label>

  <label>Credits
  <input type="text" name="song[credits]" value="<%= @song.credits %>">
  </label>

  <label>Privacy
  <input type="radio" name="song[privacy]" value="public" checked="checked">public
  <input type="radio" name="song[privacy]" value="private">private
  </label>

  <label>Band
  <select name="song[band_id]">
  <option></option>
  <% current_user.bands.each do |band| %>
    <option
      <%= @song.band_id == band.id ? "selected" : "" %>
      value="<%= band.id %>">
      <%= band.name %>
    </option>
  <% end %>
  </select>
  </label>

  <label>Album
  <select name="song[album_id]">
  <option></option>
  <% current_user.albums.each do |album| %>
    <option
      <%= @song.album_id == album.id ? "selected" : "" %>
      value="<%= album.id %>">
      <%= album.name %>
    </option>
  <% end %>
  </select>
  </label>

  <input type="submit" value="Add Song">
</form>

<a href="<%= user_url(current_user.id) %>">Cancel</a>