<% action_url = album.persisted? ? album_url(album) : albums_url %>
<% http_method = album.persisted? ? "PATCH" : "POST" %>

<form action="<%= action_url %>" method="POST">
	<input type="hidden" name="_method" value="<%= http_method %>">
  <%= auth_token_input %>
  <label>Album Name
  <input type="text" name="album[name]" value="<%= album.name %>">
  </label>

  <label>Release Date
  <input type="date" name="album[release_date]" value="<%= album.release_date %>">
  </label>

  <label>About
  <input type="text" name="album[about]" value="<%= album.about %>">
  </label>

  <label>Credits
  <input type="text" name="album[credits]" value="<%= album.credits %>">
  </label>

  <label>Privacy
  <input type="radio" name="album[privacy]" value="public" checked="checked">public
  <input type="radio" name="album[privacy]" value="private">private
  </label>
	
	<label>Tags
	<input type="text" name="tag[names]" value="">
	</label>

  <label>Band
  <select name="album[band_id]">
  <option></option>
  <% current_user.bands.each do |band| %>
    <option
      <%= @album.band_id == band.id ? "selected" : "" %>
      value="<%= band.id %>">
      <%= band.name %>
    </option>
  <% end %>
  </select>
  </label>

  <input type="submit" value="Submit">
</form>