<h1><%= @album.name %></h1>

<h2>Songs</h2>
<ul>
<% @album.songs.each do |song| %>
<li><%= song.title %></li>
<% end %>
</ul>


<h2>Tags</h2>
<ul>
<% @album.taggings.each do |tagging| %>
<li>
	<% tag = Tag.find_by id: tagging.tag_id %>
	<%= tag.name %>
	<%= link_to "Delete Tag", tagging_url(tagging), method: :delete %>
</li>
<% end %>
</ul>

<a href="<%= edit_album_url(@album) %>">Edit</a>