<div class="page group">
  <section class="page-left">

    <h2><%= @album.name %></h2>
		
		<% if signed_in? %>
			<% if current_user.collection_albums.include?(@album) %>
			
			<% collection = Collection.find_by({user_id: current_user.id, album_id: @album.id}) %>
			
			<%= button_to "remove from collection", collection_url(collection), method: :delete %>
	
			<% else %>
	
			<form action="<%= collections_url %>" method="post">
			  <%= auth_token_input %>
			  <input type="hidden" name="collection[user_id]" value="<%= current_user.id %>">

			  <input type="hidden" name="collection[album_id]" value="<%= @album.id %>">
				
				<div class="submit">
			  <input type="submit" value="add to collection">
				</div>
			</form>
		
			<% end %>	
		<% end %>
		
		<h5>tags</h5>
		<ul>
		<% @album.taggings.each do |tagging| %>
		<li>
			<% tag = Tag.find_by id: tagging.tag_id %>
			<%= tag.name %>
		</li>
		<% end %>
		</ul>
		
		<h4>About</h4>
		<p><%= @album.about %></p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		
		<h4>Release Date</h4>
		<p><%= @album.release_date %></p>
			
		<h4>Credits</h4>	
		<p><%= @album.credits %></p>

  </section>

	<section class="page-right">

  <h2>Songs</h2>

	<ul>
	<% @album.songs.each do |song| %>
	<li><%= song.title %></li>
	<% end %>
	</ul>
	
  </section>
</div>


