<div class="album-content group">
		
	<section class="album-content-songs">
	
	<div class="title-area">
	
	<h3><%= album && album.escape("name") %></h3>
	
	by <strong><%= band && band.escape("name")%></strong>

	
	</div>
	
	<div class="all-songs">
		<% songs.each(function (song) { %>
			<div class="song-container">	
					
				<div class="song-info">
				<a href="#/songs/<%= song.id %>">
					<%= song.escape("title") %>
					</a>
				</div>
			</div>
		<% }) %>
	</div>
  </section>
	
	<section class="album-content-main-show">
	  <div class="album-picture">
			<% if (album.escape('image') == "/images/original/missing.png") { %>
				<div class="no-band-image group">
					<p>no album image</p>
				</div>
			<% } else { %>
				<img src="<%= album.escape('image')%>" width="190" height="190" alt="album_picture">
			<% } %>
	  </div>
	</section>
	
	
 <section class="album-content-sidebar">
   <div class="band-info">
     <h3><%= band && band.escape("name")%></h3>
     <p>
       <%= band && band.escape("location") %><br>
     </p>
    </div>
	</section>
</div>