<header class="header">
<div class="header-wrap group">
	
	<h1 class="header-logo">
		<a href="<%= root_url %>"><img src="<%= asset_path("bandland-logo.png") %>" width="150" height="25" alt="Bandland Logo"></a>
	</h1>
	
  <nav class="header-nav">
    <ul class="group">
			<li><a href="#">discover</a></li>
			<% if signed_in? %>
			
				<li><a href="#/bands/new" class="addband-header">add band</a></li>
				<li><a href="#/albums/new" class="addalbum-header">add album</a></li>
				<li><a href="#/songs/new" class="addsong-header">add song</a></li>
				<li><a href="#/dashboard"><%= current_user.username %></a><li>
				<li><%= link_to "sign out", session_url, :method => :delete %></li>
		</ul>
			
			<% else %>
			
		    <li><a href="<%= new_session_url %>" class="login-header">sign in</a></li>
		    <li><a href="<%= new_user_url %>" class="login-header">sign up</a></li>
			
			<% end %>
			
    </ul>
  </nav>
		
</div>
</header>