<!DOCTYPE html>
<html>
<head>
  <title>BandLand</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
	<%= filepicker_js_include_tag %>
  <%= csrf_meta_tags %>
	<%= favicon_link_tag 'favicon.ico' %>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>

<% if flash[:errors] %>
  <ul class="error-messages">
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<body>

<%= render "layouts/header" %>

<main class="group" id="content">
  <%= yield %>
</main>

<%= render "layouts/footer" %>

</body>



</html>
