<!DOCTYPE html>
<html>
<head>
  <title>BandLand</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
	<%= filepicker_js_include_tag %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/header" %>

<%= yield %>

  <footer class="footer group">
    <small class="footer-copy">
      &copy; Zardo
    </small>

    <nav class="footer-links">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Privacy</a></li>
      </ul>
    </nav>
  </footer>

</body>
</html>
