<!DOCTYPE html>
<html>
<head>
  <title>BandLand</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
	<%= filepicker_js_include_tag %>
  <%= csrf_meta_tags %>
	<%= favicon_link_tag 'favicon.ico' %>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>

<% if flash[:errors] %>
  <ul class="error-messages">
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<body>

<%= render "layouts/header" %>

<div class="content group">
  <%= yield %>
</div>

<%= render "layouts/footer" %>

</body>

<script>
	BandLand.currentUserId = <%= current_user.try(:id) || "undefined" %>;
	BandLand.currentUserName = "<%= current_user.try(:username) || undefined %>";
	BandLand.currentUserPhoto = "<%= current_user.try(:filepicker_url) || "undefined" %>"
	$(BandLand.initialize);
</script>

</html>
